<p>Для подтверждения регистрации нового сотрудника <strong>{{ user.name }} {{ user.phone }}</strong> нажмите на <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">ссылку</a>.</p>
<p>Как альтернатива, Вы можете скопировать данную ссылку в адресную строку Вашего браузера:</p>
<p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
<p>Администрация ресурса "Центр правовой помощи при банкротстве"</p>
<p><small>Внимание! Ответы на данный адрес электронной почты не отслеживаются</small></p>